.check-icon {
  font-size: 0.85em;
  margin-left: 0.5rem;
}

/* dropdown items */
.dropdown-item {
  color: var(--color-primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &.active {
    background-color: var(--color-bg-light);
    color: var(--color-primary-dark);
  }
}
