/* active-link underline */
.nav-item.active .nav-link {
  color: var(--color-primary-light);
  position: relative;
  font-weight: 600;
}
.nav-item.active .nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-light);
}

/* hover styles for non-active links */
.nav-item:not(.active) .nav-link {
  color: white;
  position: relative;
  transition: color 0.2s;
}

.nav-item:not(.active) .nav-link:hover {
  color: var(--color-primary-mid);
}
