.contact-us-container{
    max-width: 1200px;
    background-color: white;
    opacity: 0.98;
}
.contact-us-detail{
    max-width: 450px;
}
.page{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/contact-us-background.jpg");
    background-position: 14%;
}