.pricing-container {
  text-align: center;
  margin-top: 64px;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-weight: normal;
  }

  p.intro {
    font-size: 1.2rem;
    margin-top: 16px;
  }
}

