.min-h-screen {
  min-height: 100vh;
}
.bg-gray-100 {
  background-color: #f3f4f6;
}
.group:hover .group-hover\:overflow-auto {
  overflow-y: auto;
}
.transition-all {
  transition: all 0.5s ease-in-out;
}
.pointer-events-none {
  pointer-events: none;
}
.rounded-2xl {
  border-radius: 1rem;
}
.p-4 {
  padding: 1rem;
}
.text-center {
  text-align: center;
}
.text-lg {
  font-size: 1.125rem;
}
.font-semibold {
  font-weight: 600;
}

.p-lg-8{
  @media screen and (min-width: 768px) {
    padding: 2rem  !important; /* Larger padding for larger screens */
    
  }
}

.gap-8 {
  gap: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.image-container {
  width: 100%;                /* Set desired width */
  height: 300px;               /* Fixed height to hide overflow */
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 5s linear; /* Smooth scroll effect */
}

.template-container {
    box-shadow: 0 10px 20px rgba(68, 61, 61, 0.1); /* subtle shadow */
}
.template-container:hover {
    box-shadow: 0 10px 20px rgba(37, 31, 31, 0.3); /* deeper shadow on hover */
    img {
        transform: translateY(-70%);
        /* Scroll image up on hover */
    }
}

.title{
    max-width: 500px;
}

.title-description {
    max-width: 600px;
    margin: 0 auto;
}

.min-h-screen{
  background: linear-gradient(135deg, white, #cae9ff);
}