<div class="min-h-screen p-4 p-lg-8">
  <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
    <h1 class="title mb-8">Make any template yours with ease.</h1>
    <p class="title-description mb-4">Whether you need a portfolio website, an online store, or a personal blog, you can use our customizable and responsive website templates to get started.</p>
  </div>
  <div class="p-8">
    <h3 class="mb-4">Business/Corporate Websites</h3>
    <div class="d-flex flex-row justify-content-between mb-8 flex-column flex-lg-row gap-8">
        
        <div *ngFor="let template of businessTemplates" class="template-container bg-white rounded-2xl overflow-hidden">
        <div class="">
            <div class="image-container">
            <img [src]="template.src" [alt]="template.name" class="w-full pointer-events-none template-img" />
            </div>
        </div>
        <div class="p-4 border-t text-center">
            <h2 class="text-lg font-semibold">{{ template.name }}</h2>
        </div>
        </div>
    </div>
  </div>
  
  <div class="p-8">
    <h3 class="mb-4">ECommerce Websites</h3>
    <div class="d-flex flex-row justify-content-between mb-8 flex-column flex-lg-row gap-8">
        
        <div *ngFor="let template of eCommerceTemplates" class="template-container bg-white rounded-2xl overflow-hidden">
        <div class="">
            <div class="image-container">
            <img [src]="template.src" [alt]="template.name" class="w-full pointer-events-none template-img" />
            </div>
        </div>
        <div class="p-4 border-t text-center">
            <h2 class="text-lg font-semibold">{{ template.name }}</h2>
        </div>
        </div>
    </div>
  </div>
  <div class="p-8">
    <h3 class="mb-4">Landing Pages</h3>
    <div class="d-flex flex-row justify-content-between mb-8 flex-column flex-lg-row gap-8">
        
        <div *ngFor="let template of landingPageTemplates" class="template-container bg-white rounded-2xl overflow-hidden">
        <div class="">
            <div class="image-container">
            <img [src]="template.src" [alt]="template.name" class="w-full pointer-events-none template-img" />
            </div>
        </div>
        <div class="p-4 border-t text-center">
            <h2 class="text-lg font-semibold">{{ template.name }}</h2>
        </div>
        </div>
    </div>
  </div>
</div>