<div class="steps-row">
    <div class="step-box">
      <div class="step-icon">
        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f4b8.svg" alt="Pick a package" />
      </div>
      <h3>Step 1 – Pick a package</h3>
      <p>
        Pick the package that suits your budget. The higher the package, the more graphical features and fancier your website will look.
      </p>
    </div>
    <div class="step-box">
      <div class="step-icon">
        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f4c4.svg" alt="Send content" />
      </div>
      <h3>Step 2 – Specify content</h3>
      <p>
        We supply an easy to use setup pack that makes it easy to organise your content. If you have an existing website we can copy from there.
      </p>
    </div>
    <div class="step-box">
      <div class="step-icon">
        <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f680.svg" alt="Launch" />
      </div>
      <h3>Step 3 – Launch</h3>
      <p>
        We'll custom design your website based around your brief, logo, branding, content. Once its launched, we’ll give you 3 rounds of changes to ensure its perfect!
      </p>
    </div>
  </div>