<div class="features-box p-4">
    <div class="features-title mb-4">STANDARD FEATURES</div>
    <div class="features-content-row mt-4">
      <div class="features-desc">
        All of our websites are built by experienced in-house web designers using the latest in HTML and CSS standards. Our custom built CMS is made for ease, giving you the ability to make <strong>UNLIMITED</strong> website updates. Our websites are hosted on fast Australian servers, supported by a technical support team available by phone and email.
      </div>
      <ul class="features-list">
        <li>Website Hosting with CMS</li>
        <li>Google reCAPTCHA enquiry form</li>
        <li>Smart phone call to actions</li>
        <li>Enquiry Form on Contact Page</li>
        <li>InstantBlog – instant mobile posting to your website</li>
      </ul>
      <ul class="features-list">
        <li>We upload your content</li>
        <li>Responsive design</li>
        <li>SSL Security certificate</li>
        <li>Favicon</li>
        <li>eCommerce compatible</li>
        <li>Independent admin system - backend support</li>
      </ul>
    </div>
  </div>