<div class="service-modules px-2">
  <div class="service-module">
    <img src="https://cdn.jsdelivr.net/gh/feathericons/feather@4.29.1/icons/monitor.svg" alt="Responsive Website Design" class="service-icon" />
    <div class="service-title">Responsive Website Design</div>
    <div class="service-desc">
      Your customers can explore your site on any device, phones, tablets, laptops &amp; desktops.
    </div>
    <a href="#" class="service-link">Learn more &gt;</a>
  </div>
  <div class="service-module">
    <img src="https://cdn.jsdelivr.net/gh/feathericons/feather@4.29.1/icons/shopping-cart.svg" alt="eCommerce" class="service-icon" />
    <div class="service-title">eCommerce</div>
    <div class="service-desc">
      If you need a shopping cart, our feature rich system makes products fly off the shelves.
    </div>
    <a href="#" class="service-link">Learn more &gt;</a>
  </div>
  <div class="service-module">
    <img src="https://cdn.jsdelivr.net/gh/feathericons/feather@4.29.1/icons/trending-up.svg" alt="AdWords / Pay Per Click Marketing" class="service-icon" />
    <div class="service-title">AdWords / Pay Per Click Marketing</div>
    <div class="service-desc">
      This is hands down the most important part of marketing in this digital age. Havealook uses AdWords so should you.
    </div>
    <a href="#" class="service-link">Learn more &gt;</a>
  </div>
  <div class="service-module">
    <img src="https://cdn.jsdelivr.net/gh/feathericons/feather@4.29.1/icons/search.svg" alt="Search Engine Optimisation" class="service-icon" />
    <div class="service-title">Search Engine Optimisation</div>
    <div class="service-desc">
      We build your website with the structure to rank well in Google, Bing &amp; Baidu.
    </div>
    <a href="#" class="service-link">Learn more &gt;</a>
  </div>
  <div class="service-module">
    <img src="https://cdn.jsdelivr.net/gh/feathericons/feather@4.29.1/icons/edit.svg" alt="Copywriting" class="service-icon" />
    <div class="service-title">Copywriting</div>
    <div class="service-desc">
      Your service might be first-class, your products great, your reputation strong and client base building but your not sure ..
    </div>
    <a href="#" class="service-link">Learn more &gt;</a>
  </div>
</div>
