<div class="mac-banner-white">
  <img src="https://singlecolorimage.com/get/ffffff/400x60" alt="White Banner" class="mac-banner-img">
</div>
<div class="mac-banner-grey-sm d-sm-none">
  <div class="banner-features-sm d-flex flex-column gap-4 px-4">
    <div class="d-flex justify-content-between gap-4 w-100">
      <div class="feature-item-small">
        <div class="feature-value-sm">2000+</div>
        <div class="feature-label-sm">Digital<br>Templates</div>
      </div>
      <div class="feature-item-small">
        <div class="feature-value-sm">19+</div>
        <div class="feature-label-sm">Years<br>Experience</div>
      </div>
    </div>
   
    <div class="feature-item-small d-flex align-items-center flex-column">
      <img src="/assets/images/Australia.png" alt="ShapeAustralia icon" class="feature-icon" />
      <div class="feature-label-sm">All States<br>Territories</div>
    </div>

    <div class="d-flex justify-content-between gap-4 w-100">
      <div class="feature-item-small">
        <div class="feature-value-sm">100%</div>
        <div class="feature-label-sm">Australia<br>Owned</div>
      </div>
      <div class="feature-item-small">
        <div class="feature-value-sm">FREE</div>
        <div class="feature-label-sm">Phone &amp; Mail<br>Support</div>
      </div>
    </div>
  </div>
  
</div>
<div class="mac-banner-grey d-none d-sm-block">
  <img src="https://singlecolorimage.com/get/231f1f/400x60" alt="Grey Banner" class="mac-banner-img">
  <div class="banner-features">
    <div class="feature-item">
      <div class="feature-value">2000+</div>
      <div class="feature-label">Digital<br>Templates</div>
    </div>
    <div class="feature-item">
      <div class="feature-value">19+</div>
      <div class="feature-label">Years<br>Experience</div>
    </div>
    <div class="feature-item">
      <img src="/assets/images/Australia.png" alt="ShapeAustralia icon" class="feature-icon" />
      <div class="feature-label">All States<br>Territories</div>
    </div>
    <div class="feature-item">
      <div class="feature-value">100%</div>
      <div class="feature-label">Australia<br>Owned</div>
    </div>
    <div class="feature-item">
      <div class="feature-value">FREE</div>
      <div class="feature-label">Phone &amp; Mail<br>Support</div>
    </div>
  </div>
</div>
